<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Add a Todo</h1>
                    <form #f="ngForm" novalidate autocomplete="off" (ngSubmit)="addToDo(f.value)">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="TodoModel.firstName" name="firstName" class="form-control" placeholder="FirstName" required
                                #reffirst='ngModel' pattern="^[a-zA-Z]*$" maxlength="15" minlength="2">
                            <div *ngIf="reffirst.errors && (reffirst.dirty || reffirst.touched)" class="alert alert-danger">
                                <div [hidden]="!reffirst.errors.required">
                                    Name is required.
                                </div>
                                <div [hidden]="!reffirst.errors.minlength">
                                    Please enter atleast 2 characeters.
                                </div>
                                <div [hidden]="!reffirst.errors.pattern">
                                    Please enter alphabets.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="lastName" name="TodoModel.lastName" id="lastName" class="form-control" placeholder="LastName"
                                required #reflast>
                            <div *ngIf="reflast.errors && (reflast.dirty || reflast.touched)" class="alert alert-danger">
                                <div [hidden]="!reflast.errors.required">
                                    LastName is required.
                                </div>
                                <div [hidden]="!reflast.errors.minlength">
                                    Please enter atleast 2 characeters.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="email" name="TodoModel.email" id="email" class="form-control" placeholder="email"
                                required #refemail>
                        </div>
                        <div class="form-group">
                            <select class="txt-box" name="ToDoType" [(ngModel)]="TodoModel.todoTypes" class="form-control" #reftodotype>
                            <option [value]="TodoModel.todoTypes" [disabled]="true">Select Option </option>
                            <option *ngFor="let todo of todoType" [ngValue]="todo.type">
                                {{todo.type}}
                            </option>
                         </select>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Add" [disabled]="f.invalid">
                        
                    </form>
                    <hr>
                </div>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<hr/>
<div *ngIf="todosArray.length > 0">
    <app-todos [todoDetail]="todosArray"></app-todos>
</div>
